// less for layout

#main:extend(blockpadding) {

  display: block;
  margin-top: 4em;
  padding: 0;
  height: 100%;
  position: relative;
  z-index:10;
}
#header {
  background: @primary-color;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 500;
  & h1:extend(blockpadding) {

      background: url(../img/logo.svg) no-repeat center right;
      text-indent:-9999em;


    height: 2em;
   font-size: 1em;
  }
}
.login:extend(blockpadding) {
  & p {
  display: block;
  position: absolute;
  z-index: 1;
  margin: 0px;
  top: 20px;
  color: @tertiary-color;
  font-size: 0.8em;
  & span {
    color: #fff;
  }
  }
}



#map {
  &>div{
    height: 100%;
  }
  height: @mapHeight;
  position:fixed;
  top:0;
  .leaflet-top, .leaflet-bottom {
    z-index: 2;
  }
}
.revealInformation, .contact {
  position: absolute;
  top: 0;
  right:-54px;  
  display: block;
  width: 30px;
  height:30px;
  .default-pane-style;
  .icons;
  cursor: pointer;
  @media only screen and(max-width:600px) {
    right: 39px;
    margin-top: 5px;
   }
  &:hover {
  .default-pane-style-hover;
  .icons-h;
  }
  span {
    text-indent: -11111px;
    display: block;
  }
}
.revealInformation {
  top: 34px;
  background-position: 0 -30px;
  &:hover {
    background-position: -30px -30px;
  }
  @media only screen and(max-width:600px) {
    right: 5px;
    top: 0px;
   }
}
.info .information {
  display:block;
}
.information:extend(blockpadding) {
  position: absolute;
  overflow: auto;
  z-index: 2;
  padding: 0;
  top: 0;
  right: -134%;
  width: 100%;
  .default-pane-style;
  background: fade(@theme-color,95%);
  border: 1px solid @theme-color;
  display:none;
  & h2 {
    margin: 0;
    line-height: 2em;
    font-style: italic;
    color: @background-color;
  }
  & div {
  padding: .65em;
  p {
  padding-left: 0;
  font-size: 1em;
  color: @background-color;
  }
  }
  & button {
    .close-button
  }
  
  @media only screen and(max-width:600px) {
    width: 100%;
    right: 0;
    left: 0;
    border-radius: 0;
   }
}

