// stuff for maps.

.leaflet-marker-icon {
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #ccc;
	height: 24px;
	padding: 4px;
	position: absolute;
	width: 24px;
}
.markerhelper {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 8px solid #000;
	content:'';
	height: 0;
	left: 12px;
	margin: 28px 0 0 6px;
	position: absolute;
	top:34px;
	width: 0 !important;
}

.leaflet-marker-pane {
	img {
		opacity: .6;
		cursor:default;
		&.activeMarker {
			opacity: 1;
			cursor: pointer;
		}
	}
}