.top-navigation {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-bottom: 1px solid lighten(@logo-color,25%);
}

.top-navigation-item {
  display: table-cell;
  padding-bottom: .13em;
  text-align: center;
  width:  3.4%;
  width: calc(6.25% - .3em - 2px);
  background-color: lighten(@logo-color,30%);
  border-right: 1px solid lighten(@logo-color,25%);
  .navigate {
    color: @logo-color;
    font-size: .8em;
    display:block;
    width: 100%;
    &.active {
      color:#fff;
      background-color:#ccc;
    }
    &.done, &:first-child {
      background-color: @primary-color;
      border-right: 1px solid rgba(255,255,255,.4);

    }
  }

  &.active {
    font-size: 1.1em;
    margin-top: -.2em;
    background-color: #fff;
    font-weight: bold;
  }
}

.navigate:active, .navigate:second-child {
  color:blue;
}
.navigate:visited {
  color:lighten(@logo-color,20%);
  background-color: red;
}
.navigate:hover {
  color:darken(@logo-color,10%);
}