/*
	styles for brandweer app.

	authors:
		wilfred nas
		@wnas
		gerben hoeve
		@dadesigndoctorG
 */

// import styles for maps
@import "colors.less";
@import "vars.less";
@import "mixins.less";
@import "reset.less";
@import "typography.less";
@import "icons.less";
@import "forms.less";
@import "navigate.less";

@import "layout.less";

#contact {
  display:none;
  z-index: 50;
  position: absolute;
  .default-pane-style;
  margin: 15%;
  height: 200px !important;
  width: 70%  !important;
  text-align: center;
  ul {
    margin: 10px 0;
    li {list-style: none;}
  }
  & button#hideContact {
    .close-button;
  }
}
.ci {
  .default-pane-style;
  float: right;
  margin: -10px -328px 0 0;
  width: 260px;
}
html {
  height: 100%;

}
.building {
  outline: 1px solid red;
  display: inline-block;
  width: 100px;height: 20px;background-color: red;
  padding:  5px;margin:30px;
  margin-top: -100px;
  position: relative;
}

fieldset {
  border: 0;
  .default-pane-style;
  @media only screen and(max-width:600px) {
    box-shadow: none;
    border-radius: 0;
   }
  
  padding-bottom: 20px;
  border-top: none;
  & h2,p {
    padding: 0 4.5%;
  }
  & ul {
    padding: 0 4.5%;
    & li {
      list-style: none;
      padding-top: 1em;
      line-height: 1.6em;
      & strong {
        float: left;
        width: 3em;
        height: 2em;
        color: lighten(@tertiary-color,10%);
      }
    }
  }
  
  display: none;
  

  &.active {
    display:block;
    width: 100%;
    left:10px;
    top: 21px;
    z-index: 2;
   // test
  }

  &.hideMe {
    height: 20px;
    min-height: 10px;
    overflow: hidden;
  }
  
}



// position controls should be done in js are settings of leaflet module
.leaflet-left {
  right:0;
}
.leaflet-top {
  margin-top: 15px;
}
.leaflet-control {
  position: absolute;
  z-index: 7;
  pointer-events: auto;
  right: -10px;
}





div#questions {
  position: relative;
  width: 40%;
  
  @media only screen and(max-width:600px) {
    width: 97%;
    margin-top: -3px;
    }
}


#status {
  height: 5px;

  &.online {
    background-color: green;
  }
  &.offline {
    background-color: red;
  }
}



// inconbar

div.iconBar {
  @media only screen and(max-width:600px) {
    padding: 0 0.7em 0 0;
  }
}

.hideFieldset {
  border: 0;
  margin: 0 5px;
  span {
    position: absolute;
    left: -999em;
  }
  width: 30px;
  height: 30px;
  .icons;
  .default-icon-style;
  .icon-arrow-up;
  border: 0;
}
.hideMe .hideFieldset {
  .icons;
  .icon-arrow-down;
}

// dafuq? Need button.x and !important emphasis for padding?
button.revealInformation, button.contact {
  padding: 0 !important;
  margin: 0 0 0.5em 0.5em;
  float:right;
  width: 30px;
  height:30px;
  cursor: pointer;
  .default-icon-style;
  .icons;
  .icon-contact;
  .icons-hover;
  
  // don't need this span
  span {display: none;}
}
button.revealInformation {
  .icon-info;
  .icons-hover;
}





.null {
  display:none;
}