/*
	styles for brandweer app.

	authors:
		wilfred nas
		@wnas
		gerben hoeve
		@dadesigndoctorG
 */ 
@import "colors.less";
@import "vars.less";
@import "mixins.less";
@import "reset.less";
@import "typography.less";
@import "forms.less";

@import "layout.less";


fieldset {
 // display: none;

  outline: 1px solid red;
}
.map {
  background-color: #ccc;
}
#buildings{
  display: block;
}


.b-question {
  position: relative;
}
.b-map-overlay {
  // position: absolute;

  height: 400px; // @mapHeight
  margin-left: 20%;
  padding: @padding;

  //outline: 1px solid red;
  background-color: rgba(106,145,136,.8);
  
  &:before {
    content:'';
    display: block;
    width: 0px;
    height: 0px;
    margin: 4em 0 0 -26px;
    
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    border-right: 20px solid rgba(106,145,136,.8);
    
    
  }
}




