doctype html
html(lang='nl')
  head
    meta(http-equiv='Content-Type',content='text/html;charset=utf-8')
    meta(name='robots', content='index, follow')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='keywords', content='brandweer')
    meta(name='description', content='')
    meta(name='generator', content='')
    title= title
    //[if lt IE 9]<script src="js/vendors/html5shiv.js"></script><![endif]
    //[if lt IE 8]><link rel="stylesheet" href="css/ie7.css" /><![endif]
    link(rel='stylesheet' href='js/leaflet-0.7.1/leaflet.css')
    link(rel='stylesheet', href='/css/style.css')

    
  body
    block content
    // geo sizzle 
    script(src='js/leaflet-0.7.1/leaflet.js')
    script(src='js/proj4js-compressed.js')
    script(src='js/vendors/jquery/jquery.js')
    script(src='js/script.js')

 


