{{#information}}
    <div class="information">
        <h2>{{bhv.header}}<button class="hideInformation">close</button></h2>
        <div>{{{bhv.body}}}</div>
    </div>
{{/information}}

{{#bhv}}
    <h2>{{header}}</h2>
        <div class="f-container">
            <span class="f-label">{{label}}</span>
            <label for="bhv-ja"  class="f-label f-radio-label">
                <input class="f-radio" type=radio name=bhv id="bhv-ja">
                <span class="f-inner-label">Ja</span>
            </label>
            <label for="bhv-nee" class="f-label f-radio-label">
                <input class="f-radio" type=radio name=bhv id="bhv-nee">
                <span class="f-inner-label">Nee</span>
            </label>
        </div>
{{/bhv}}