{{#information}}
    <div class="information">
        <h2>{{buildings.header}}<button class="hideInformation"><span>close</span></button></h2>
        <div>{{{buildings.body}}}</div>
    </div>
{{/information}}
{{#buildings}}

    <div class="body">
    <h2>{{copy.header}}</h2>
        {{{copy.body}}}
    </div>
{{/buildings}}

