{{#bhv}}
    {{header}}
        <div class="f-container">
            <span class="f-label">{{label}}</span>
            <label for="bhv-ja"  class="f-label f-radio-label">
                <input type=radio name=bhv id="bhv-ja">
                Ja
            </label>
            <label for="bhv-nee" class="f-label f-radio-label">
                <input type=radio name=bhv id="bhv-nee">
                Nee
            </label>
        </div>
{{/bhv}}