
{{#information}}
    <div class="information">
        <h2>{{contactInformation.header}}<button class=hideInformation><span>close</span></button></h2>
        <div>{{{contactInformation.body}}}</div>
    </div>
{{/information}}

{{#contactInformation}}

    <div class="copy">
            <h2 class="main">{{copy.header}}</h2>
            <div>{{{copy.body}}}</div>
    </div>

    <div class="fields">
            {{#fields}}
                {{#this}}
                <div class="f-container {{#if required}}{{required}}{{/if}}">
                    <label
                            for="contact-{{name}}"
                            class="f-label">{{name}}</label>
                    <input
                            type="{{type}}"
                            id="contact-{{name}}"
                            value="{{value}}"
                            placeholder="{{placeholder}}"
                            class="f-input"/>
                </div>
                {{/this}}
            {{/fields}}
        </div>

{{/contactInformation}}
<button id="addContact" title="Voeg een contact persoon toe">+</button>