
{{#information}}

{{/information}}

{{#contactInformation}}
    {{#copy}}
     <div class="information">
            <h2>{{header}}<button class=hideInformation><span>close</span></button></h2>
            <div>{{{help}}}</div>
        </div>

    <div class="copy">
            <h2 class="main">{{header}}</h2>
            <div>{{{body}}}</div>
    </div>
{{/copy}}
{{#fields}}
    <div class="fields">

                {{#this}}
                <div class="f-container {{#if required}}{{required}}{{/if}}">
                    
                    <input
                            type="{{type}}"
                            id="contact-{{name}}"
                            value="{{value}}"
                            placeholder="{{placeholder}}"
                            class="f-input" required />
                            
                        	<label
                            for="contact-{{name}}"
                            class="f-label">{{name}}</label>
                </div>
                {{/this}}
                
                

        </div>
{{/fields}}
{{/contactInformation}}
<button id="addContact" title="Voeg een contact persoon toe"><span>+<span></button>
        <button type="submit" id="confirmAndNext" formtarget="bw" class="f-button f-button-primary">Bevestig en naar de volgende vraag</button>
