{{#information}}
    <div class="information">
        <h2>{{entrances.header}}<button class="hideInformation"><span>close</span></button></h2>
        <div>{{{entrances.body}}}</div>
    </div>
{{/information}}
{{#entrances}}
    <div class="information">
            <h2>{{copy.header}}<button class="hideInformation"><span>close</span></button></h2>
            <div>{{{copy.help}}}</div>
        </div>
    <h2 class="main">{{copy.header}}</h2>
    {{{copy.body}}}
{{/entrances}}
