{{#information}}
    <div class="information">
        <h2>{{entrances.header}}<button class="hideInformation"><span>close</span></button></h2>
        <div>{{{entrances.body}}}</div>
    </div>
{{/information}}
{{#entrances}}
    <h2>{{header}}</h2>
    {{{body}}}
{{/entrances}}
