{{#information}}
    <div class="information">
        <h2>{{exercise.header}}<button class="hideInformation"><span>close</span></button></h2>
        <div>{{{exercise.body}}}</div>
    </div>
{{/information}}

{{#exercise}}
	<h2>{{header}}</h2>
	{{{body}}}
	<div class="f-container">
		<label
			class="f-label" 
			for="exercise-{{bagId}}">{{question}}
			<input type=checkbox value="ja" 
				class="f-checkbox"
				id="exercise-{{bagId}}">
		</label>
		<!-- gewoon een comment -->
	</div>
{{/exercise}}