
<p>Geef voor elk pand/gebouw de functie op.
Klik hierbij op een pand en kies dan de hoofdfunctie en deelfunctie*</p>

<div class="entrances b-questions">
    <div class="b-map-overlay functions multiple-select">
        <div class="f-container">
            <label class="f-label">origin</label>
            <select class="f-select multiple-select-origin" data-source="">
                <option value="Industrie">Industrie</option>
                <option value="Wonen">Wonen</option>
                <option value="Winkel">Winkel</option>
            </select>
        </div>
        <div class="f-container">
            <label class="f-label">Sub functions</label>
            <select class="f-select multiple-select-target" data-edited="false">
                <option value="Chemie">Chemie</option>
                <option value="Brandstof">Brandstof</option>
                <option value="Opslag">Opslag</option>
            </select>
        </div>
    </div>
</div>