

{{#functions}}

    {{#copy}}
        <div class="information">
            <h2>{{header}}<button class="hideInformation"><span>close</span></button></h2>
            <div>{{{help}}}</div>
        </div>
        <div class="copy">
            <h2 class="main">{{header}}</h2>
            <div>{{{body}}}</div>
        </div>
    {{/copy}}

{{/functions}}
<div class="fields">
<div class="f-container multiple-select multiple-origin">
<label for="mainSelect" class="f-label">Hoofdfunctie</label>
<select id="mainSelect" class="f-select"><option value="0">Kies een hoofdfunctie</option></select>
</div>

<div class="f-container multiple-select multiple-target">
<label for="subSelect" class="f-label">Deelfunctie</label>
<select id="subSelect" class="f-select" disabled><option>Kies een deelfunctie</option></select>

<button type="submit" id="confirmAndNext" class="f-button f-button-primary">Bevestig en naar de volgende vraag</button>
</div>
</div>

