{{#information}}
    <div class="information">
        <h2>{{gasflessen.header}}<button class="hideInformation">close</button></h2>
        <div>{{{gasflessen.body}}}</div>
        <div class="image"><img src="{{gasflessen.image}}" ></div>
    </div>
{{/information}}

{{#gasflessen}}
    {{#copy}}
        <div class="copy">
                <h2>{{header}}</h2>
                <div>{{{body}}}</div>
        </div>
    {{/copy}}
{{/gasflessen}}

