{{#information}}
    <div class="information">
        <h2>{{hoofdafsluiterwater.header}}<button class="hideInformation">close</button></h2>
        <div>{{{hoofdafsluiterwater.body}}}</div>
    </div>
{{/information}}

{{#hoofdafsluiterwater}}
    <h2>{{header}}</h2>
    {{{body}}}
{{/hoofdafsluiterwater}}