{{#information}}
    <div class="information">
        <h2>{{hoofdSchakelaarElektriciteit.header}}<button class="hideInformation"><span>close</span></button></h2>
        <div>{{{hoofdSchakelaarElektriciteit.body}}}</div>
    </div>
{{/information}}

{{#hoofdSchakelaarElektriciteit}}
    <h2 class="main">{{header}}</h2>
    <div>{{{body}}}</div>
{{/hoofdSchakelaarElektriciteit}}
