{{#information}}

{{/information}}

{{#people}}
    <div class="information">
            <h2>{{copy.header}}<button class="hideInformation"><span>close</span></button></h2>
            <div>{{{copy.help}}}</div>
        </div>
	<h2 class="main">{{copy.header}}</h2>
    {{{copy.body}}}
    {{#occupants}}
    	<div class="occupants">

	    	{{#each this}}
	    	{{@key}}
	    		<div class="f-container">

		    		<input 
		    			class="f-input" 
		    			type="number" 
		    			value="{{amount}}"
		    			placeholder=0
		    			id="{{time}}-{{type}}"
		    			required
		    		 />
		    		<label
		    		 for="{{time}}-{{type}}"
		    		 class="f-label">{{type}} ({{time}})</label>
	    		</div>
	    	{{/each}}
    	</div>
    {{/occupants}}
    
{{/people}}