{{#information}}
    <div class="information">
        <h2>{{rwa.header}}<button class="hideInformation">close</button></h2>
        <div>{{{rwa.body}}}</div>
    </div>
{{/information}}


{{#rwa}}
    <h2>{{header}}</h2>
    {{{body}}}
{{/rwa}}