{{#information}}
    <div class="information">
        <h2>{{sleutelbuis.header}}<button class="hideInformation"><span>close</span></button></h2>
        <div>{{{sleutelbuis.body}}}</div>
        <div class="image"><img src="{{sleutelbuis.image}}" ></div>
    </div>
{{/information}}

{{#sleutelbuis}}
   <h2 class="main">{{header}}</h2>
   {{{body}}}

{{/sleutelbuis}}