{{#information}}
    <div class="information">
        <h2>{{sleutelbuis.header}}<button class="hideInformation">close</button></h2>
        <div>{{{sleutelbuis.body}}}</div>
    </div>
{{/information}}

{{#sleutelbuis}}
   <h2>{{header}}</h2>
   {{{body}}}
{{/sleutelbuis}}