{{#verdiepingen}}
	<div id="verdiepingen-{{bagId}}">
		<h2>{{header}}</h2>
		{{{body}}}
		<div class="f-container">
			<label class="f-label" for="etages-{{bagId}}">Verdiepingen</label>
			<input class="f-input" type="number" id="etages-{{bagId}}">
		</div>
	</div>
{{/verdiepingen}}