{{#information}}
    <div class="information">
        <h2>{{verdiepingen.header}}<button class="hideInformation">close</button></h2>
        <div>{{{verdiepingen.body}}}</div>
    </div>
{{/information}}

{{#verdiepingen}}
	<div id="verdiepingen-{{bagId}}">
		<h2>{{header}}</h2>
		{{{body}}}
		<div class="f-container">
			<label class="f-label" for="etages-{{bagId}}">Verdiepingen</label>
			<input class="f-input" type="number" id="etages-{{bagId}}">
		</div>
	</div>
{{/verdiepingen}}